<div>
  <p>This is {{foundUser.username}}'s profile</p>
  <p>Bio: {{foundUser.bio}}</p>
  <p>Date of birth: {{foundUser.dateOfBirth}}</p>
  <p>Games played: {{foundUser.gamesPlayed}}</p>
  <p>Games won: {{foundUser.gamesWon}}</p>
</div>